[package]
name = "witness-generator"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
ef-tests.workspace = true
walkdir.workspace = true
rayon.workspace = true
reth-stateless.workspace = true
reth-ethereum-primitives = { workspace = true, features = [
    "serde",
    "serde-bincode-compat",
] }
reth-primitives-traits = { workspace = true, features = [
    "serde",
    "serde-bincode-compat",
] }
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
async-trait.workspace = true
reth-chainspec.workspace = true
alloy-primitives = { workspace = true, features = ["serde"] }
reth-rpc-api = { workspace = true, features = ["client"] }
jsonrpsee.workspace = true
http = "1.0"
alloy-eips = { workspace = true }
anyhow.workspace = true
alloy-rpc-types-eth.workspace = true
tokio.workspace = true
clap.workspace = true

[dev-dependencies]
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
