[package]
name = "reth-openvm-guest"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
openvm = { git = "https://github.com/openvm-org/openvm.git", features = [
    "std",
], tag = "v1.1.1" }
guest-libs.workspace = true

reth-stateless.workspace = true
reth-ethereum-primitives = { workspace = true, features = [
    "serde",
    "serde-bincode-compat",
] }
reth-primitives-traits = { workspace = true, features = [
    "serde",
    "serde-bincode-compat",
] }
alloy-primitives = { workspace = true, default-features = false, features = [
    "map-foldhash",
    "serde",
    "sha3-keccak",
] }
reth-evm-ethereum = { workspace = true }
reth-chainspec = { workspace = true }

tracing-subscriber = "*"
tracing = "*"
