[package]
name = "ere-hosts"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[features]
default = []
sp1 = ["dep:ere-sp1"]
risc0 = ["dep:ere-risczero"]
openvm = ["dep:ere-openvm"]
pico = ["dep:ere-pico"]
zisk = ["dep:ere-zisk"]

[dependencies]
rayon.workspace = true
clap.workspace = true
walkdir.workspace = true
anyhow.workspace = true
serde.workspace = true
serde_json.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true

benchmark-runner.workspace = true
zkvm-interface.workspace = true
witness-generator.workspace = true

# Optional dependencies based on features
ere-sp1 = { workspace = true, optional = true }
ere-risczero = { workspace = true, optional = true }
ere-openvm = { workspace = true, optional = true }
ere-pico = { workspace = true, optional = true }
ere-zisk = { workspace = true, optional = true }

[lints]
workspace = true
