name: Integration tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

env:
  CARGO_TERM_COLOR: always

jobs:
  witness-generator:
    name: Generate EEST benchmark fixtures
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      
      - name: Generate benchmark fixtures
        run: RUST_LOG=info cargo run -p witness-generator-cli --release -- tests --include 1M- --include Prague --tag v5.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check zkevm-fixtures-input folder has at least 1 file
        run: |
          echo "Files in zkevm-fixtures-input folder:"
          ls -l ./zkevm-fixtures-input
          if [ -z "$(ls -A ./zkevm-fixtures-input)" ]; then
            echo "zkevm-fixtures-input folder is empty"
            exit 1
          fi
  
  integration-tests:
    name: "${{ format('{0} / {1}', matrix.zkvm, matrix.el) }}"
    strategy:
      fail-fast: false
      matrix:
        include:
          # Stateless Validator - Reth
          - zkvm: sp1
            el: reth
            tests: "execute_empty_block execute_mainnet_blocks execute_invalid_block prove_empty_block"
            threads: 12
          - zkvm: risc0
            el: reth
            tests: "execute_empty_block execute_mainnet_blocks execute_invalid_block prove_empty_block"
            threads: 12
          - zkvm: openvm
            el: reth
            tests: "execute_empty_block execute_mainnet_blocks execute_invalid_block prove_empty_block"
            threads: 2
          - zkvm: pico
            el: reth
            tests: "execute_empty_block execute_mainnet_blocks execute_invalid_block"
            threads: 12
          - zkvm: zisk
            el: reth
            tests: "execute_empty_block execute_invalid_block"
            threads: 12
          - zkvm: airbender
            el: reth
            tests: "execute_empty_block execute_mainnet_blocks execute_invalid_block prove_empty_block"
            threads: 12

          # Stateless Validator - Ethrex
          - zkvm: sp1
            el: ethrex
            tests: "execute_empty_block execute_mainnet_blocks execute_invalid_block prove_empty_block"
            threads: 12
          - zkvm: risc0
            el: ethrex
            tests: "execute_empty_block execute_mainnet_blocks execute_invalid_block prove_empty_block"
            threads: 12

          # Custom Guest Programs
          - zkvm: sp1
            el: none
            tests: "execute_empty_program execute_panic_guest prove_empty_program prove_panic_guest"
            threads: 12
          - zkvm: risc0
            el: none
            tests: "execute_empty_program execute_panic_guest prove_empty_program prove_panic_guest"
            threads: 12
          - zkvm: openvm
            el: none
            tests: "execute_empty_program execute_panic_guest prove_empty_program prove_panic_guest"
            threads: 12
          - zkvm: pico
            el: none
            tests: "execute_empty_program execute_panic_guest prove_empty_program prove_panic_guest"
            threads: 12
          - zkvm: zisk
            el: none
            tests: "execute_empty_program execute_panic_guest"
            threads: 12
    uses: ./.github/workflows/run-benchmark.yml
    with:
      tests: ${{ matrix.tests }}
      zkvm: ${{ matrix.zkvm }}
      el: ${{ matrix.el }}
      threads: ${{ matrix.threads }}
    secrets: inherit